*{
    margin: 0;
    padding: 0;
}

.clear-fix {
    clear: both;
}


/* HOME SECTION */
.home {
    background-image: url(drew-coffman-1872.jpg);
    min-height: 100vh;
    background-size: 100% 100%;
    text-align: center;
}

.content {
    margin-top: 50px;
}

.content h1, .content p{
    color: white;
    text-align: center;
    padding: 15px 20px;
}

.content h1 {
    font-size: 60px;
}

.content p {
    font-size: 30px;
}

.content .btn {
    text-align: center;
    border-radius: 10%;
    padding: 5px 5px;
}


.btn .button {
    font-size: 15px;
}

.content .btn1 {
    background-color:burlywood;
    border-color: transparent;
}

.content .btn1:hover {
    background-color:white;
    transition: 0.5s;
}

.btn .button:hover {
    color: black;
}

.content .btn2 {
    background-color: transparent;
    border-color: white;
    
}

.content .btn2:hover {
    background-color: white;
    transition: 0.5s;
}

.container .img {
    width: 10%;
    float: left;
    color: white;
}

.home .navbar {
    padding: 15px;
    width: 80%;
    margin: auto;
}

.container .nav {
    float: right;
    list-style: none;
}

.container ul li {
    float: left;
    padding: 20px 20px;
    color: white;
}


/* INTRODUCTION WHO WE ARE SECTION */

.intro .intro-img {
    width: 40%;
    float: left;
    margin: 70px 35px;
}

.intro .intro-img img {
    width: 100%;
}

.intro-content {
    float: left;
    width: 50%;
    text-align: center;
    padding: 15px 20px;
    margin-top: 180px;
}

.intro-content p{
    font-size: 20px;
    line-height: 2;
}

.intro-content h3{
    font-size: 30px;
}

.tb {
    text-align: left;
    padding: 10px;
    font-size: 20px;
}

.tb .icon {
    width: 4%;
    border: solid black 2px;
    border-radius: 40%;
    margin-right: 10px;
}

.tb ul li {
    list-style: none;
    padding: 10px;
}


/* LOCATION SECTION */

.location {
    background-color: rgb(234, 231, 231);
    text-align: center;
}

.location-content{
    display: inline-block;
    height: 300px;
    width: 40%;
    text-align: center;
    vertical-align: top;
    margin-top: 150px;
    line-height: 35px;
    padding: 15px 20px;
}

.location-content p {
    font-size: 18px;
}

.location-content h2 {
    padding-bottom: 20px;
}

.location-img{
    display: inline-block;
    width: 40%;
    margin-left: 40px;
    margin-top: 50px;
    
}

.location-img img {
    width: 100%;
    height: px;
}



/* OUR BAKING SECTION */

 .our-baking {
    text-align: center;
    width: 90%;
    margin: auto;
}

.our-baking-head {
    width: 100%;
    text-align: center;
    padding: 40px 0px;
    line-height: 40px;
    
}

.our-baking-head h3{
    padding: 15px;
}

.our-baking-content {
    margin: auto;
    width: 100%;
}
.our-baking-content .prod{
    margin: auto;
    float: left;
    width: 33%;
    text-align: center;
    line-height: 30px;
    
}
.our-baking-content .bread img{
    width: 80%;
}

.our-baking-content .bagels img {
    width: 80%;
}

.our-baking-content .cookies img {
    width: 80%;
} 



/* CONTACT-INFORMATION */


.contact-information {
    width: 100%;
    margin: auto;
    background-color: rgb(234, 231, 231);
    margin-top: 50px;
}

.contact-information-content {
    float: left;
    width: 45%;
    margin: auto;
    padding: 80px 40px;
    line-height: 40px;
}

.contact-information .contact-details ul li {
    list-style: none;
    text-align: left;
    line-height: 50px;
}
.contact-information .contact-details p {
    text-align: left;
}


.contact-details .icon {
    width: 4%;
    text-align: left;
}

.contact-information-content h2, .contact-information-content p {
    text-align: center;
}

.contact-information .map {
    padding: 40px 15px;
}


.last{
    margin: auto;
    /* width: 100%; */
    padding: 80px;
    /* margin-left: 10%; */
    background-color: rgb(92, 82, 73);
}

.about-us {
    float: left;
    width: 20%;
    line-height: 30px;
    font-size: 20px;
    margin: auto;
}
.special {
    width: 20%;
    float: left;
    font-size: 20px;
}

.opening {
    width: 20%;
    float: left;
    font-size: 20px;
}

.details {
    width: 20%;
    float: left;
    font-size: 20px;
}

.details img {
    width: 5%;
}

hr {
    width: 80%;
}

.special ul li {
    list-style: none;
}

.opening ul li {
    list-style: none;
}

.details ul li {
    list-style: none;
}


.finish {
    margin: auto;
    text-align: center;
    /* width: 100%; */
    background-color: rgb(73, 51, 41);
    padding:20px;
}
.finish .image {
    width: 2%;
    border: solid black 2px;
    border-radius: 50%;
}
.finish .bake {
    width: 20%;
}